<a href="https://colab.research.google.com/github/iyoob-utexas/ds4e/blob/main/2022_n1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Initialize

In [1]:
import pandas as pd

## Load Data

In [3]:
dfTips = pd.read_csv("/content/drive/MyDrive/2022_ds4e/data/tips/tips.csv")

In [4]:
dfTips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
dfTips.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [8]:
X = dfTips.loc[:, ['total_bill', 'size']]
y = dfTips.loc[:, ['tip']]

### Build Linear Regression Model

In [14]:
from sklearn.linear_model import LinearRegression

mdlReg = LinearRegression().fit(X, y)

In [15]:
mdlReg.coef_

array([[0.09271334, 0.19259779]])

In [16]:
mdlReg.intercept_

array([0.66894474])

In [17]:
new_total_bill = 45.25
new_size = 4

mdlReg.predict([[new_total_bill, new_size]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[5.63461441]])