<a href="https://colab.research.google.com/github/iyoob-utexas/ds4e/blob/main/notebooks/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

#Pull Data from the Web

## Pull csv file with url

In [20]:
#Pull file and store in temporary colab workspace

!wget https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv

--2023-01-23 22:56:11--  https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv
Resolving people.sc.fsu.edu (people.sc.fsu.edu)... 144.174.0.22
Connecting to people.sc.fsu.edu (people.sc.fsu.edu)|144.174.0.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8402 (8.2K) [text/csv]
Saving to: ‘cities.csv.1’

cities.csv.1        100%[===================>]   8.21K  --.-KB/s    in 0s

2023-01-23 22:56:11 (33.6 MB/s) - ‘cities.csv.1’ saved [8402/8402]

In [21]:
#Load file into pandas dataframe
dfCities = pd.read_csv('cities.csv')
dfCities.head()

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI